<header class="navbar">
  <img src="<%= relative_url '/images/blog picture.webp' %>" alt="Logo" />
  <h5>NURFITRA PUJO SANTIKO</h5>
  <p class="tagline">everyday we learn something new</p>
  <nav class="main-nav">
    <ul>
      <li><a href="<%= relative_url '/' %>">HOME</a></li>
    </ul>
  </nav>
</header>


