<header class="navbar">
  <img src="<%= relative_url '/images/blog picture.png' %>" alt="Logo" />
  <h5>NURFITRA PUJO SANTIKO</h5>
  <p class="tagline">Everyday we learn something new</p>
  <nav class="main-nav">
    <ul>
      <li><a href="<%= relative_url '/' %>">Home</a></li>
    </ul>
  </nav>
</header>


