@import "variables.css";

/* Import the base Shoelace stylesheet: */
@import "@shoelace-style/shoelace/dist/themes/dark.css";

:root {
  --body-background: #232323;
  --body-color: #f2f2f2;
  --heading-color: black;
  --action-color: #8779ab;
  --action-color-rgb: 135,121,171;
  --secondary-text-color: #9a9a9a;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: "Noto Sans", sans-serif;
  margin: 0 8px;
  font-size: 108%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

a {
  color: var(--action-color);
  text-decoration: underline;
  text-decoration-color: #ffb088;
}

h1 {
  margin: 1rem 0 3rem;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--heading-color);
  line-height: 1.2;
}

/* Navbar */

.navbar {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar img {
  display: inline-block;
  width: 400px;
  max-width: 100%;
}

.tagline {
  margin: 3px 0;
  color: var(--secondary-text-color);
  font-weight: 200;
  letter-spacing: 1px;
}

.main-nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.main-nav a {
  text-decoration: none;
  color: var(--body-color);
}

.main-nav a:hover {
  text-decoration: underline;
  text-decoration-color: var(--action-color);
}

/* Home */
#list-posts {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#list-posts > li {
  list-style: none;
}

/* Post Card */
.post-card::part(base) {
  background-color: var(--body-background);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(var(--action-color-rgb), 0.5);
  border-radius: 6px;
  width: 600px;
  color: var(--body-color);
  padding: 20px;
  box-shadow: 4px 4px 8px 2px rgba(10,10,10, 0.2)
}

.post-card::part(header) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.post-card_date {
  font-size: 0.875rem;
  font-weight: 200;
  color: var(--secondary-text-color);
  margin: 0;
  letter-spacing: 1px;
}

.post-card_header > h4 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.post-card > article {
  font-size: 1rem;
}



main {
  flex: 1 auto;
  margin: 0 auto 4rem;
  width: 100%;
  min-height: calc(100vh - 200px);
  border-radius: 3px;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}

footer {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}