<footer>
  <p>Contact me at <a href="mailto:<%= metadata.email %>"><%= metadata.email %></a></p>
  <%= asset_path "font_awesome/css/all.min.css" %>
  <div class="social-media">
    <i class="fa-brands fa-github-square"></i>
  </div>
</footer>
